@import 'bower_components/materialize/sass/components/color';
@import "custom";
@import 'materialize';


/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

.container {
  margin-top: 20px;
  margin-bottom: 80px;
}

.fatal-error {
  text-align: center;
  font-size: 120px;
}

.btn-container {
  .btn-prev {
	float: right;
  }
  .btn-next {
	float: left;
  }
}

.pagination-counter {
  text-align: center;
  margin-top:9px;
}

.container-fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;

  background-color: #fff;

  > .container {
	padding-top: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
  }

  .row {
	margin-bottom: 0px;
  }
}

.run-table {
  tr {
	cursor: pointer;
  }
}

.run-trace {
  height: 350px;
}

@media #{$large-and-up} {
  .run-trace {
	margin: 20px 0px 20px 20px;
  }
}


// bit more space on my phone plz
.container {
  padding: 0 $gutter-width;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}
@media #{$medium-and-up} {
  .container {
	width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
	width: 70%;
  }
}

