<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="/" class="brand-logo center">Everybody&nbsp;...&nbsp;RUN!</a>
		</div>
	</nav>
</div>

<div class="container">

	{{outlet}}

</div>

